.button {
    -fx-background-color: #009688;
    -fx-background-radius: 0;
    -fx-text-fill: #FFFFFF;
    -fx-margin: 0;
}

.text-field {
    -fx-background-color: #000000, white , white;
    -fx-background-insets: 0 0 -1 0, 0 0 0 0, 0 -1 3 -1;
    -fx-background-radius: 0;
    -fx-margin: 0;
}

.text-field:focused {
    -fx-background-color: #009688 , white , white;
    -fx-background-insets: 0 0 -2 0, 0 0 0 0, 0 -1 3 -1;
}